.item-content__image {
    width: 35%;
    margin: auto;
  }

  .item-content{
    margin: 0 10%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content:space-between;
  }